作業/112-1 DL APP HW2 TW Food 101/DataSet/Taiwanese Food 101.zip
作業/112-1 DL APP HW2 TW Food 101/Model/EfficientNetB3 Model/V1/EfficientNetB3-taiwanese food-85.77.h5
作業/112-1 DL APP HW2 TW Food 101/Model/Taiwanese-Food-101_byAlvinYang/Taiwanese-Food-101/DenseNet121.h5
作業/112-1 DL APP HW2 TW Food 101/Model/Taiwanese-Food-101_byAlvinYang/Taiwanese-Food-101/InceptionV3.h5
作業/112-1 DL APP HW2 TW Food 101/Model/Taiwanese-Food-101_byAlvinYang/Taiwanese-Food-101/MobileNet.h5
作業/112-1 DL APP HW2 TW Food 101/Model/Taiwanese-Food-101_byAlvinYang/Taiwanese-Food-101/ResNet34.h5
作業/112-1 DL APP HW2 TW Food 101/Model/Taiwanese-Food-101_byAlvinYang/Taiwanese-Food-101/VGG16.h5
作業/112-1 NTUT DL APP HW1 - Extended MNIST/ntutemnist/emnist-byclass-train.npz

作業/112-1 DL APP HW2 TW Food 101/Model/*

